//自定义css 变量
:root {
  --main-color: #bc8c4d;
  --secondary-color: #f2c400;
  --main-color-100: #f8f3ed; // 主色 10%
  --mian-text-color: #191919;
  --title-color: #1f1f20;
  --gray: #f5f5f5;
  --border-color: #dcdcdc;
  --gray-700: #636363;
  --gray-500: #8f8f8f;
  --success-color: #2ba471;
  --gray-900: #999;
}
